<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hitman_zhang.datasource.modules.user.mapper.UserMapper">


    <insert id="insert" parameterType="com.hitman_zhang.datasource.modules.user.pojo.UserPojo">
        insert into user (age , name)
        values (#{age}, #{name})
    </insert>
</mapper>